@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1f6feb;
  --secondary: #0075ca;
  --error: #e74c3c;
  --success: #2ecc71;
  --warning: #f39c12;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-gray-50 text-gray-900;
}

a {
  @apply text-primary hover:text-secondary transition-colors;
}
