apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    isDefault: false
    editable: true
    access: proxy

  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3100
    isDefault: false
    editable: true
    access: proxy

  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
    isDefault: false
    editable: true
    access: proxy
    jsonData:
      httpMethod: GET
      streamingEnabled: false
      tracesToLogsV2:
        datasourceUid: loki
      tracesToMetrics:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki

  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    url: http://alertmanager:9093
    isDefault: false
    editable: true
    access: proxy
    jsonData:
      implementation: prometheus
