apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090
    isDefault: false
    editable: true
    access: proxy

  - name: Loki
    type: loki
    url: http://loki:3100
    isDefault: false
    editable: true
    access: proxy

  - name: Tempo
    type: tempo
    url: http://tempo:3200
    isDefault: false
    editable: true
    access: proxy
